
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/TA_lab.iml
.idea/shelf
.idea/vcs.xml
.idea/workspace.xml


*.iws

out/
.idea/
.lab1/
.out/

.metadata/

*.iml
*.ipr
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


